header {
	height: $header-size;
	background-color: $color-main;
}

.contact {
	display: flex;
	height: $header-size;
	justify-content: space-between;
	align-items: center;

	&__box {
		display: flex;
		justify-content: space-between;
		padding: 0 1rem;

		& a {
			padding: 0 .5rem;
		}
	}

	&__data {
		display: flex;
		padding: 0 1rem;
		&>* {
			color: #dddddd;
			font-size: 1.4rem;
			font-weight: 400;
			padding: 0 0.2rem;
		}
		& a {
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__icon--round {
		background-color: #fff;
		color: #1976d2;
		text-align: center;
		padding: .3rem;
		border-radius: 100%;
		width: 1.6rem * 1.7;
		line-height: 1.6rem * 1.6;
		font-size: 1.9rem;
		transition: all 0.7s;
		&:hover {
			background-color: #f95d5a;;			
			color: #fff;
			transform: scale(1.1)
		}
	}
}
