// nav {
// 	height: 11.1rem;

// }

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 11.1rem;

	& img {
		margin: 0 2rem;
	}

	&__list {
		display: flex;
		margin: 0 1rem;
		& > * {
			text-transform: uppercase;
			font-weight: 500;
			font-size: 1.4rem;
			margin: 0 1rem;
			color: #333333;
			transition: all .2s;
			&:hover{
				color: #f95d5a;
				cursor: pointer;
				transform: scale(1.1);
				-webkit-backface-visibility: hidden;
				-webkit-transform: translateZ(0) scale(1.1);
			}
		}
	}

}

